
.two-tables{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.stocks-table3{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
    margin-right: 5%;
}

.stocks-table3 td, .stocks-table3 th {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 10px;
}

.stocks-table3 tr:nth-child(even){background-color: #f2f2f2;}

.stocks-table3 tr:hover {background-color: #ddd;}

.stocks-table3 th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #1aa3ff;
  color: white;
}

.stocks-table3 thead {
   height: 50px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 20px;
   text-align: left;
   background-color: #1aa3ff;
   color: white;
   font-weight: 800;
   font-size: large;
 }

 .mobile{
   display: none;
}

@media (max-width: 1430px) and (min-width: 1200px){
   .two-tables{
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .stocks-table3 td, .stocks-table3 th {
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 5px;
  }
   .stocks-table3{
      width: 10%;
      
  }
}
@media (max-width: 1200px) and (min-width: 1050px){
   .stocks-table3 td, .stocks-table3 th {
      border: 1px solid #ddd;
      padding: 2px;
      font-size: 5px;
  }
   .stocks-table3{
      width: 1%;
      margin-left: 0px;
      margin-right: 0%;
  }
}
@media (max-width: 1050px){
   .two-tables{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   .stocks-table3 td, .stocks-table3 th {
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 7px;
  }
   .stocks-table3{
      width: 1%;
      margin-bottom: 40px;
      margin-right: 0%;
  }
}


@media (max-width: 600px){
   .stocks-table3{
      width: 370px;
   }
   .mobile{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .desktop{
      display: none;
   }
}