.mutual{
   display: flex;
   justify-content: center;
   width: 90%;
   min-width: 60%;
   margin-top: 40px;
   margin: auto;
}


.mutual-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.mutual-table td, .mutual-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mutual-table tr:nth-child(even){background-color: #f2f2f2;}

.mutual-table tr:hover {background-color: #ddd;}

.mutual-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
