
.mutual-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 130%;
}

.mutual-table td, .mutual-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mutual-table tr:nth-child(even){background-color: #f2f2f2;}

.mutual-table tr:hover {background-color: #ddd;}

.mutual-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1aa3ff;
  color: white;
}

.mutual-table thead{
   background-color: #1aa3ff;
   color: white;
}

@media (max-width: 1000px) {
   .mutual-table{
      width: 90%;
      max-width: 400px;
  }
 }

/* @media (max-width: 500px){
   .mutual-table{
      max-width: 300px;
  }
} */