
.sign-in {
    height: 70vh;
    width: 60%;
    max-width: 390px;
    margin: auto;
    /* border: black 0.3px solid; */
    box-sizing: border-box;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
    /* box-shadow: 0 0px 20px rgba(8, 112, 184, 0.7); */
}

.sign-in input{
    height: 25px;
    width: 29vw;
    min-width: 120px;
    max-width: 240px;
    border: #333333 0.5px solid;
    border-radius: 2px;
    color: black;
    font-weight: 400;
    font-size: 13px;
}

.sign-in ::-webkit-input-placeholder{
    color: black;
    font-weight: 300;
    font-size: 14px;
}


