
.sign-in {
    height: 88vh;
    width: 100%;
    margin: auto;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-repeat: no-repeat;
    background-size: initial;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.sign-in input{
    height: 45px;
    width: 59vw;
    min-width: 120px;
    max-width: 440px;
    border: #333333 0.5px solid;
    border-radius: 2px;
    color: black;
    font-weight: 400;
    font-size: 15px;
    padding-left: 18px;
    box-sizing: border-box;
}

.please-sign-in{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
}
.input-div{
   position: relative;
}

.font {
   position: absolute;
   right: 10px;
   top: 13px;
   color: black;
   cursor: pointer;
}
@media (max-width: 700px){
   .sign-in input{
      width: 90vw;
   }
   .sign-in button{
      width: 90vw;
   }
}



.sign-in ::-webkit-input-placeholder{
    color: black;
    font-weight: 300;
    font-size: 14px;
}
