


.buyorders-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 120%;
}

.buyorders-table td, .buyorders-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.buyorders-table tr:nth-child(even){background-color: #f2f2f2;}

.buyorders-table tr:hover {background-color: #ddd;}

.buyorders-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.buyorders-table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: black;
  font-size: large;
}

.last-column{
    min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first{
    width: 30px;
}