
.form {
   height: 88vh;
   width: 100%;
   margin: auto;
   margin-top: 0;
   box-sizing: border-box;
   color: white;
   background-repeat: no-repeat;
   background-size: initial;
   
   border-radius: 5px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding-bottom: 20px;
   /* background: linear-gradient(232deg, #16A085, #F4D03F); */
   /* background: linear-gradient(90deg, rgba(156,156,156,1) 0%, rgba(235,235,235,1) 72%); */
   /* box-shadow: 0 0px 20px rgba(8, 112, 184, 0.7); */
}



.form input{
   height: 25px;
   width: 29vw;
   min-width: 120px;
   max-width: 240px;
   border: #333333 0.5px solid;
   border-radius: 2px;
   color: black;
   font-weight: 400;
   font-size: 13px;
}

@media (max-width: 700px){
   .form input{
      width: 90vw;
   }
   .form button {
      width: 90vw;
   }
}
.form ::-webkit-input-placeholder{
   color: black;
   font-weight: 300;
   font-size: 14px;
}
