.transactions-class {
   margin: auto;
   margin-top: 5vh;
}

.transactions-table{
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   margin-bottom: 40px;
}

.transactions-table td, .transactions-table th {
   border: 1px solid #ddd;
   padding: 8px;
}

.transactions-table tr:nth-child(even){background-color: #f2f2f2;}

.transactions-table tr:hover {background-color: #ddd;}

.transactions-table th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #1aa3ff;
 color: white;
}
.transactions-table thead {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #1aa3ff;
 color: black;
 font-size: large;
}