.calculator {
    height: 70vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.screen{
    height: 55px;
    width: 265px;
    font-size: 40px;
    float: right;
    border: black solid 0.5px;
    border-radius: 5px;
}
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
  
.container button{
    box-sizing: border-box;
    height: 50px;
    width: 60px;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
}