.accounts{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}
.box-1{
    margin: 20px;
    height: 30vh;
}
.type {
    background-color: darkgray;
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.box-2{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 200px;
    border-radius: 5px;
}

.dash-nav{
   height: 7vh;
   width: 100%;
   padding: 3px 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: x-large;
   color: blue;
   font-weight: 500;
}