

.header {
    background-color: #333333;
    height: 10vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poiret One';
}

.login-register{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
}