.show-side-bar {
    margin-top: 15px;
    width: 150px;
    height: 90vh;
    animation: open 1.5s;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


@keyframes open {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
  }

  .hide-side-bar {
    width: 0px;
    height: 100vh;
    animation: close 0s;
    overflow: auto;
  }

  @keyframes close {
    from {
        width: 150px;
    }
    to {
        width: 0%;
    }
  }

