.show-side-bar {
    margin-top: 15px;
    width: 150px;
    height: 90vh;
    animation: open 1.3s;
    overflow: hidden;
    color: black;
}


@keyframes open {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
  }

  .hide-side-bar {
    width: 0px;
    height: 100vh;
    animation: close 0.3s;
    overflow: auto;
  }

  @keyframes close {
    from {
        width: 150px;
    }
    to {
        width: 0%;
    }
  }

