
.investments-table{
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   margin-left: 0px;
}

.investments-table td, .investments-table th {
   border: 1px solid #ddd;
   padding: 5px;
   font-size: 10px;
}

.investments-table tr:nth-child(even){background-color: #f2f2f2;}
.investments-table tr:hover {background-color: #ddd;}

.investments-table th {
 padding-top: 8px;
 padding-bottom: 8px;
 text-align: left;
 background-color: #4CAF50;
 color: white;
}

.investments-table thead {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #4CAF50;
  color: black;
  font-size: large;
}


.transactions tr:nth-child(even){background-color: #f2f2f2;}
.transactions tr:hover {background-color: #ddd;}



.transactions{
   width: 30%;
   font-family: 'Times New Roman', Times, serif;
   border-collapse: collapse;
   margin: 0;
   background-color: white;
   font-size: 5px;
}

.transactions td, .transactions th{
   border: 1px solid #ddd;
   padding: 8px;
   font-size: 5px;
}


.transactions th, .transactions td {
 padding-top: 20px;
 padding-bottom: 20px;
 text-align: left;
 background-color: white;
 color: black;
}

.transactions p{
   margin: 0px;
   width: 80%;
   height: 4vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px 8% 0 5%;
   color: black;
   font-size: 10px;
}